#footer {
    left: 0;
    bottom: 0;
    width: 100%;
    clear: both;
    height: 190px;
    margin-top: -151px;
    font-size: 16;
    text-rendering: auto;
    position: fixed;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
