<!DOCTYPE html>


<html>

<head>
    {# Load the tag library #}
    {% load bootstrap4 %}
    
    {# Load CSS and JavaScript #}
    {% bootstrap_css %}
    {% bootstrap_javascript jquery='full' %}
    
    {# Display django.contrib.messages as Bootstrap alerts #}
    {% bootstrap_messages %}
    {% load i18n %}
    {% load static %}
</head>

<body>
    {% block navigation %}
    {% include 'navigation.html' %}
    {% endblock %}

    <div class="content container">
        <div class="row">

            <div class="col-md-8">
                {% block content %}
                {% endblock %}
            </div>
        </div>
    </div>

    <footer class="footer navbar-fixed-bottom">
        <div class="container">
            <p class="text-muted">
                Logged in as
                {{user.username}}
            </p>
        </div>
    </footer>
</body>

</html>